CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
qtcreator/VoglProj.cbp
src/libbacktrace/backtrace-supported.h
src/libbacktrace/config.h
src/libbacktrace/libbacktrace.a
src/voglcore/libvoglcore.a
src/voglcommon/libvoglcommon.a
src/vogleditor/moc_vogleditor*
src/vogleditor/ui_vogleditor*
vogl_build/*
voglinc/
*~
