CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

qtcreator/VoglProj.cbp
qtcreator/CMakeLists.txt.user
qtcreator/build.ninja
qtcreator/rules.ninja

src/libbacktrace/backtrace-supported.h
src/libbacktrace/config.h
src/libbacktrace/libbacktracevogl.a
src/voglcore/libvoglcore.a
src/voglcommon/libvoglcommon.a
src/vogleditor/moc_vogleditor*
src/vogleditor/ui_vogleditor*
src/vogleditor/qt.conf
src/telemetry/
vogl_build/*
voglinc/
*~
*.swp
\#*
.\#*
*.a
*.bin

_out*/
